:root {
  --branco: #FFFFFF;
  --cinzaClaro: #F5F5F5;
  --laranjaClaro: #FDB813;
  --azulClaro: #4EB1DA;
  --cinzaEscuro: #627781;
  --azulAcinzentado: #1F3748;
  --azulEscuro: #162632;
  --preto: #000000;
}

.Footer {
  background-color: var(--azulAcinzentado);
  color: var(--branco)
}

.Footer-menu {
  text-align: center;
  background-color: var(--azulAcinzentado);
  display: flex;
  flex-direction: column;
  padding: 2%;
  -ms-flex-align: start;
}

.Footer-first-line {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.Footer-image {
  display: flex;
  width: 105px;
  height: 40px;
}

.Footer-eita {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Fotter-p2 {
  margin: 0;
  font-size: 24px;
}

.Fotter-p3 {
  margin: 0;
  font-size: 20px;
}

.Footer-social-medias {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Footer-icons {
  margin-top: 4px;
}

.Footer-bar-outside {
  display: flex;
  justify-content: center;
}

.Footer-bar {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 3px;
  background: #627781;
  margin-top: 3%;
}

.Footer-title {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: row;
  -ms-flex-align: start;
  margin-left: 2%;
}

.Footer-copyright {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
  margin-left: 5px;
}

.Footer-icon-copyright.css-i4bv87-MuiSvgIcon-root {
  font-size: 17px;
  margin-right: 0.5em;
}

@media (max-width: 625px) {
  .Footer-first-line {
    flex-direction: column;
    align-items: center;
  }

  .Footer-eita {
    font-size: 10px;
    margin-bottom: 15px;
  }

  .Footer-second-line {
    font-size: 12px;
  }

  .Footer-image {
    margin-bottom: 15px;
  }

  .Footer-p2 {
    margin-bottom: 15px;
  }
}