body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --branco: #FFFFFF;
  --cinzaClaro: #F5F5F5;
  --laranjaClaro: #FDB813;
  --azulClaro: #4EB1DA;
  --cinzaEscuro: #627781;
  --azulAcinzentado: #1F3748;
  --azulEscuro: #162632;
  --preto: #000000;
}