:root {
  --branco: #FFFFFF;
  --cinzaClaro: #F5F5F5;
  --laranjaClaro: #FDB813;
  --azulClaro: #4EB1DA;
  --cinzaEscuro: #627781;
  --azulAcinzentado: #1F3748;
  --azulEscuro: #162632;
  --preto: #000000;
}

.Apresentation {
  background-color: var(--branco);
  padding: 2%;
}

.Apresentation-title {
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Apresentation-grade {
  color: black;
  display: flex;
  flex-direction: row;
}

.Apresentation-description {
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Apresentation-description-title {
  color: red;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: bold;
}

.Apresentation-description-box {
  color: black;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
}

.Apresentation-image {
  display: flex;
  width: -webkit-fill-available;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 1%;
}

.Apresentation-button {
  display: flex;
  align-content: center;
  justify-content: center;
}

.Apresentation-grade-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

.Apresentation-header {
  background-color: var(--branco);
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  font-size: calc(10px + 2vmin);
  color: white;
}

.Apresentation-link {
  color: #61dafb;
}

